<div class="container">
  <div class="row parent-element">
    <div class="col-12 text-center">
      <h2>Componente Pai</h2>
    </div>
    <div class="col-12 d-flex justify-content-center align-items-center">
      <button
        class="btn btn-warning"
        (click)="addItem()"
        title="Adicionar item no componente filho"
      >
        Adicionar item
        <span class="material-symbols-outlined"> add </span>
      </button>
    </div>
    <div class="col-12 my-3">
      <p class="ng-destoy-info bg-gradient" *ngIf="!itemsArr.length">
        <strong>ngOnDestroy:</strong> Método de ciclo de vida, chamado
        imediatamente antes de a diretiva/componente ser destruída. Útil para
        realizar limpeza, como desinscrever-se de observáveis ou remover
        manipuladores de eventos.
      </p>
    </div>
  </div>

  <app-child
    *ngIf="itemsArr.length > 0"
    [items]="itemsArr"
    (itemDeleted)="deleteItem($event)"
  ></app-child>
</div>
